<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7881873473-b7i29gku63is5op9d5mtqgo2p3fuoc7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7881873473-b7i29gku63is5op9d5mtqgo2p3fuoc7b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>7881873473-cpj2ov0r1k1r6iumq3f73b562vn162c9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZtkvOX9y2sTnk_HV4glI2Sb3NF2GkwnY</string>
	<key>GCM_SENDER_ID</key>
	<string>7881873473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.ritom.openpharm</string>
	<key>PROJECT_ID</key>
	<string>openpharm</string>
	<key>STORAGE_BUCKET</key>
	<string>openpharm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7881873473:ios:b5dd2c9134041c65118ec0</string>
</dict>
</plist>
